body {
  background-image: url('resources/images/ab67616d0000b27377c8e2bac1c1d2e0b594364d.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
